/* Body styling section */
body {
  font-family: "Poor Story";
  background-color: black;
}


/* iv section */
div {
  background-color: brown;
  width: 50%;
  margin:auto;
  margin-top: 3%;
  
  
}

/* Header section */

h1 {
  text-align: center;
  font-size: 5em;
  margin: 0px;

  
}

h1 p {
  margin: 0px;
  text-align: center;
  border: 0px none none;
}

#sodah1 {
  font-family: Monoton;
}

/* Table section */
table {
  
  background-color: black;
  border: 25px brown solid;
  
}

th {
  height: 80px;
  font-family: "Poor Story";
  font-size: 1.5em;
  background-color: purple;
 
}

th, tr, td {
  border: 5px black double;
  
  

}
tr, td {
  background-color: blueviolet;

}

tr {
  font-family: "poor Story";
  font-weight: 800;
  font-size: 1.2em;
  text-align: center;
}

p, .comment {
  text-align: left;
  padding-left: 1%;
}
